nav.svelte-15pyi4x.svelte-15pyi4x{background-color:palegoldenrod}nav.svelte-15pyi4x ul.svelte-15pyi4x{list-style-type:none;margin-top:0;display:grid;grid-template-columns:repeat(3, 1fr)}body {
    margin: 0;
    padding: 0;
}